{% extends 'base.html' %}
{% import "bootstrap4/form.html" as wtf %}

{% block head %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="alert alert-primary" role="alert">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
        </div>
    {% endif %}
    {% endwith %} 
{% endblock %}

{% block main %}
    <section>  
        <div class="container">
            <div class="row">
                <div class = "col-12">
                    <h1>Checkout</h1>
                    <p>
                        Thank you for your interest. Please provide your details so that one of our awesome tour agents can contact you to finalise details and take payment. Thank you! 
                    </p>
                </div>
            </div>
            <div class="row">
                <div class = "col-6">
                    {{ wtf.render_form(form) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
