<!DOCTYPE html>
<html lang="en">

<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SM LoFi</title>
    <meta name="description" content="SnMLoFi">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <!-- an example of using css alongside bootstrap -->
    <style>
        /* to place border around items in the shopping basket - orders.html */
        .my-row {
            border: 1px solid grey;
        }
    </style>
</head>

<body>
    <!-- putting header inside container will prevent full width navbar -->

    <header>

        <!--navbar creates a navigation bar -->
        <!-- Colours https://getbootstrap.com/docs/4.0/utilities/colors/ -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">SM LoFi</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

           <div class="container-fluid">
                 <div class="dropdown">
                <a class="nav-item text-light nav-link dropdown-toggle" data-toggle="dropdown" id="bookDropdown" aria-haspopup="true" aria-expanded="false" href="#">List of Categories</a>
                
                <div class="dropdown-menu" aria-labelledby="bookDropdown">
                
                {% for category in main.categories %}

                <a class="dropdown-item" href="{{ url_for('main.categories', category_id=category.id) }}"> category.name </a>
                <div class="dropdown-divider"></div>
               
                {% endfor %}
            </div>

            
            checked views.py on route and endpont, seems to be consistent but still cant run somehow, for time why dont i 
            
            <a class="navbar-brand" href="#" id="logo"><img src="static/img/gadget.png" alt="icon"></a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span><i class="fa-solid fa-bars" style="color: white; font-size: 23px;"></i></span>
                </button>


                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{url_for('main.index')}}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#about">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('main.categories')}}">Categories</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('main.order')}}"> Cart </a>
                        </li>
                    </ul>

                    <li class="nav-item">
                        <!-- search box -->
                        <form class="form-inline my-2 my-lg-0 ml-5">
                            <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-black btn btn-secondary btn-s my-0 ml-1"
                                type="submit">Search</button>
                        </form>
                    </li>
                   
                </div>
            </div>
        </nav>

        <div class="jumbotron jumbotron-fluid card card-image" style="background-image: url('static/img/xxxx.jpg');"> # to add logo 
            <div class="row justify-content-center mt-5 pb-4">
                <div class="col-md-8">
                    <div class="jumbotron shadow py-4 mb-5">
                        <h1 class="text-center">SM LoFi</h1>
                        <p class="lead text-center">Explore a variety of our curated selection of electronics and accessories, with the best prices for you!</p>
                    </div>
                </div>
            </div>
        </div>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-primary" role="alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
            </div>
        {% endif %}
        {% endwith %} 

        {% block head %}
        
        {% endblock %}

    </header>


    <!-- main page content goes in container -->
    <div class="container-fluid">
        <main>
            {% block main %}
            
            {% endblock %}
        </main>
    </div>

    <!-- Footer -->
    <footer class="footer">
        <div class="text-center mt-2">
            <a href="shipping-policy.html" class="btn btn-secondary">Shipping Policy</a>
        </div>
        <div class="text-center mt-2">
            <a href="termsandconditions.html" class="btn btn-secondary">Terms & Conditions</a>
        </div>
        <div class="text-center py-2 bg-secondary">
            <span class="text-light">Made by SM - IFN 557 - ASSIGNMENT 2 - GROUP &copy; October 2023</span>
        </div>
    </footer>
    <!-- Footer -->


    <!-- jQuery first, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

</body>

</html>
